{
  "extends": [
    "next/core-web-vitals",
    "eslint-config-prettier"
  ],
  "plugins": [
    "eslint-plugin-import-alias",
    "simple-import-sort"
  ],
  "rules": {
    "simple-import-sort/imports": "error",
    "simple-import-sort/exports": "error",
    "import-alias/import-alias": [
      "error",
      {
        "aliases": [
          {
            "alias": "@/",
            "matcher": "^"
          }
        ]
      }
    ]
  }
}
